<section>
    <h2 class="logo">ife-2017</h2>
    <div class="list">
    	<div class="item card">
    		<p class="title">题目</p>
    		<p class="description">afsaf</p>
    	</div>
    	<div class="item card">
    		<p class="title">题目</p>
    		<p class="description">afsaf</p>
    	</div>
    	<div class="item card">
    		<p class="title">题目</p>
    		<p class="description">afsaf</p>
    	</div>
    	<div class="item card">
    		<p class="title">题目</p>
    		<p class="description">afsaf</p>
    	</div>
    </div>
</section>